*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    
    
}
p{
    color: #333333;
}
body{
    background-color: #F5F4F0;
}
.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-style: italic; /* Muda estilo da fonte para itálico */
    text-align: center;
    color: #333333;
    margin-top: 24px;
  }
.headline {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold; /* a fonte fica em negrito */
    color: #e1624f;
    text-transform: uppercase;
     /* a fonte fica com todas as letras em maiúsculo */
  }

  #page{
   
   
    box-sizing: border-box;
    margin: 88px 80px;
    gap: 40px;
    align-items: top left;
  }
  #title{
    gap: 8px;
  }
  #description{
    padding-top: 40px;
    
  }
 
  img {
    width: 100%;
    border-radius: 28px; 
    height: 375px;
    object-fit: cover; /* Ajusta a proporção da imagem para caber no container disponível pra ela sem distorcer */
    margin-top: 44px;
      
    
  }
  .titlelist {
    gap: 24px;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  h1{
    color: #1B1B1B;
    font-size: 36px;
    font-weight: bold;
  }
  h2{
    font-size: 32px;
    font-weight: bold;
  }
  h3{
    font-size: 28px;
    font-weight: bold;
  }
  .paragraph{
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    font-weight: regular;
    padding-top: 8px;
    
  }
  .divider {
    width: 100%;
    height: 1px;
    margin: 36px 0;
    background-color: #d9d9d9;
  }
  .cardtravel {
    gap: 16px;
    padding: 24px;
   
  }
  .cardtravel img{
    padding-bottom: 20px;
  }
  ul li::marker {
    color: #333333;
  }
  #resume{
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
  }
  ul li {
    color: #333333;
    font-size: 16px;
    line-height: 24px;
    padding-top: 8px;
    margin-left: 32px; /* Adiciona um recuo à esquerda para os itens da lista */
  }
    ul {
        list-style-type: disc; /* Define o tipo de marcador como disco */
        padding-top: 20px;
        font-weight: bold;
    }
   
  li #historia{
    color: #e1624f;
    font-weight: bold;
  }
  li #casais{
    color: #591B98;
    font-weight: bold;
    font-size: 16px;
  }
  li #familia{
    color: #E5245E;
    font-weight: bold;
    font-size: 16px;
  }
  li #orcamentos{
    color: #E95E10;
    font-weight: bold;
    font-size: 16px;
  }
  footer img{
    width: 16px;
    height: 16px;
    
  }
footer {
    
    padding: 24px;
    text-align: center;
    color: #333333;
    font-size: 16px;
    line-height: 24px;
  } 